*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif ! important;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(../images/graduation_img.jpg) no-repeat left;
    height: 100%;
    background-size: cover;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #88A2D4;
    border: 2px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius:50px;
    padding: 117px;
    margin-right: 20px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #000;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
.skills a{
    text-decoration: none;
    color:#000;
    font-size: 14px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (min-width:750px) and (max-width:991px){
.inner-container {
    width: 80%;
    padding: 50px;
}
}
@media screen and (max-width:749px){
.inner-container {
    width: 90%;
    padding: 35px;
}
}