@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif ! important;
}
.section{
    width: 100%;
    min-height: 150vh;
    background-color: #ddd;
}
.container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    //text-transform: uppercase;
    font-size: 15px;
}
.content-section .content h3{
    margin-top: 20px;
    color:#5d5d5d;
    font-size: 18px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 8px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color:#fff;
}
.content-section .social{
    margin: 20px -10px;
}
.content-section .social i{
    color:#a52a2a;
    font-size: 18px;
    padding:0px 10px;
}
.content-section .social i:hover{
    color:#3d3d3d;
}
/*Responsive Media Queries( Start-> )*/

@media screen and (min-width:992px) and (max-width:1200px){
    .content-section .title {
    font-size: 14px;
}
.content-section .content h3 {
    margin-top: 11px;
    font-size: 15px;
}
.section {
    position: unset;
    min-height: 200vh;
}
}
@media screen and (min-width:750px) and (max-width:991px){
.container {
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: auto;
    padding-top:50px;
}
.content-section{
    float: unset;
    width:100%;
}
.image-section {
    text-align: center;
    float: right;
    width: 100%;
}
.image-section img{
    width: 40%;
}
.section {
    position: unset;
}
}
@media screen and (max-width:749px){
.content-section {
    text-align: center;
    float: unset;
    width: 100%;
}
.container {
    padding-top: 60px;
    width: 80%;
    display: flex;
    flex-wrap: wrap-reverse;
    }
.image-section{
    text-align: center;
    width:100%;
    height: auto;
}
    .image-section img {
    width: 40%;
    height: auto;
}
.section {
    position: unset;
}
}

/*Responsive Media Queries( Start-> )*/