*{
	margin: 0;
	padding: 0;
 font-family: 'Jost', sans-serif;
	}
/*Style{> Polsing}*/
.side-menu{
  position: fixed;
  top: 50%;
  right: -200px;
  width: 200px;
  background-color: #f1f1f1aa;
  transition: .4s linear;
}

.side-menu.active{
  right: 0;
}

.side-menu a{
  display: block;
  padding: 14px 10px;
  color: #333;
  font-size: 20px;
  transition: .4s linear;
   text-decoration: none;
}

.side-menu a i{
  width: 40px;
  font-size: 24px;
  text-align: center;
}
.side-menu a:hover{
  background-color: #333;
  color: #f1f1f1;
}
.toggle-btn{
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 60px;
  background: #333;
  color: #f1f1f1;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.socialinformation{
					text-align: center;
					display: flex;
					padding: 10px 100px;
					justify-content: space-between;
					background-color: #ff3900;
					color: #000;
				}
img.college-logo-img {
						  animation: logoani 1s ease 0s 1 normal forwards;
    					height: 8rem;
    					margin-left: 47px;
    					margin-top: 5px;
    					margin-bottom: 5px;
              border-radius: 50%;
              background-image: url('../images/animation_type.gif');
					    background-position: 0px;
              background-repeat: no-repeat;
              background-size: cover;
          }
.socialinformation a i {
						margin: 0 10px;
						}
.socialinformation a{
					text-decoration: none;
					color: #fff;
					}
.header-contant{
				display: flex;
        background-image: url('../images/header_back.gif');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px;
			}
.header-contant h1 {
            color: #fff;
    				font-family: 'Jost', sans-serif;
    				font-size: 45px;
    				margin: 40px 25px;
}

nav{
  width: 100%;
  background:#ffcc00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
nav .navbar{
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin: auto;
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 50px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height:50px;
  text-align: center;
  display: inline-block;
  color: #000;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 40.4px;
  left: 0;
  line-height: 40px;
  background: #ffcc00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #ffcc00;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #ffcc00;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #ffcc00;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
.menu_buttons a button{
    background:linear-gradient(120deg,#ff3900,#ffcc00);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 1s;
    }
.menu_buttons a button:hover{
    background:linear-gradient(120deg,#ffcc00,#ff3900);
    transition: 1s;
    cursor: pointer;
    }
.social-icon-header i {
            background-image: url('../images/animation_type.gif');
            background-position: 0px;
            background-repeat: no-repeat;
            background-size: cover;
						margin: 13px 5px;
						border-radius: 50px;
						padding: 8px 8px;
						color: #000;	  
}
.social-icon-header i:hover{
       cursor: pointer;
       background-image:none;
			 background-color: #6DDACF;
			 color: #000;
			}

i.fa-brands.fa-facebook-f {
    						padding: 8px 12px;


}
.social-icon-header {
					    position: absolute;
					    z-index: 999;
					    right: 2rem;
					    top: 7rem;
					    font-size: 19px;
}
.slick-prev {
    		left: 0px;
}
.slick-next {
    right: -20px;
}
.item img{
			width: 100%;
}
.onlinecards {
	    display: flex;
	    justify-content: space-between;
	    margin: 0 100px;
}
.card-one{
		text-align: center;
}
.card-two{
		text-align: center;
}
.card-three{
		text-align: center;
}

.gallery-section{
  font-family: "montserrat",sans-serif;
  width: 100%;
  padding: 30px 0;
}

.inner-width{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: left;
  color: #333;
}

.border{
    width: 262px;
    height: 2px;
    background: #333;
    margin-bottom: 30px;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}
.gallery-section .image img{
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(5deg);
}

.img_name_text{
			margin: 0px 0px 20px 25px;
			font-family: calibri;
			font-size: 30px;
    	font-weight: bold;
    	text-decoration: underline;
}
.icon_div{
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
    margin-bottom: 50px;
   }
   .icon_review_section{
        font-size: 40px;
        border: 1px solid #18F4E3;
        padding: 30px;
        border-radius: 50px;
        background: #18F4E3;
		    //-webkit-animation: flip-scale-down-ver 0.5s linear both;
        //animation: flip-scale-down-ver 0.5s linear both;
   }

  .icon_review_section:hover{
          -webkit-animation: flip-scale-down-ver 0.5s linear both;
          animation: flip-scale-down-ver 0.5s linear both;
   }
   .review_heading {
    text-align: center;
    margin-bottom: 40px;
}
.review_heading h1 {
	color: #b80924;
    font-size: 40px;
    letter-spacing: 1px;
}
.col_1{
  text-align:center; 
}
.col_2{
  text-align: center;
}
.col_3{
  text-align: center;
}
.col_4{
  text-align: center;
}
.col_5{
  text-align: center;
}
.col_1 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_2 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_3 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_4 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_5 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}

.col_1 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_2 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_3 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_4 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_5 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
/*Footer (>)*/
*, *:before, *:after {
box-sizing: border-box;
}

.footer_section {
font-family: poppins;
margin-top: 5rem;
display: grid;
font-size: 14px;
}
.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-image:url(../images/Footer_back_img.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}
img.footer_logo {
    margin-top: 20px;
    width: 100%;
}
.r-footer li h2 {
font-weight: bold;
font-size: 20px;
color: #000;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 3em;
}
.footer li a:hover{
text-decoration: underline;
}


.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: #000;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: #000;
padding-top: 50px;
}

.l-footer p {
padding-right: 20%;
color: #000;
}   
li.adress_footer {
    line-height: 18px;
}
.footer_icon{
	margin-right: 8px;
}
@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}
.top_student_section{
  font-family:calibri;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  height: 100%;
  display: grid;
  background: #f2f2f2;
  text-align: center;
}
.Topper_Heading{
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 30px;
    color: #DF1A26;
}
.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}

#scroll_btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffcc00;
  clip-path: polygon(100% 75%, 50% 60%, 1% 75%, 0 35%, 48% 0, 100% 35%);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#scroll_btn:hover {
  background-color: #555;
}
html {
  scroll-behavior: smooth;
}
button#scroll_btn img {
    height: 20px;
}



/*Footer (>)*/

/*Logo keyframes >*/
@keyframes logoani {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
/*Logo keyframes <*/

/*Statistics keyframes >*/
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
            transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
            transform: scale(1) rotateY(-180deg);
  }
}
/*Statistics keyframes <*/

@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
  i.bx.bx-menu {
    margin-left: -15px;
}
.menu_buttons {
    margin-right: -60px;
}
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position:absolute;
    top: 0;
    left: -100%;
    display: block;
    max-width:unset;
    width: 100%;
    height: 100%;
    background:  #ffcc00;
    line-height:40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #000;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #000;
    }
  nav .navbar .links{
    display: block;
    margin-top:5px;
  }
  nav .navbar .links li .arrow{
    line-height: 50px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}

/*Responsive Media Queries( Start-> )*/


@media screen and (min-width:1600px){
.header-contant h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }
  .social-icon-header i {
    font-size: 22px;
  }
  nav .navbar .links li a {
    font-size: 20px;
  }
  .menu_buttons a button {
    letter-spacing: 1px;
    font-size: 18px;
  }
  .inner-width {
    max-width: 1620px;
  }
  .gallery-section h1 {
    font-size: 35px;
}
.review_heading h1 {
    font-size: 50px;
    }
    .icon_review_section {
    font-size: 45px;
  }
  .Topper_Heading {
    font-size: 45px;
  }
  .r-footer li h2 {
    font-size: 25px;
  }
  img.footer_logo {
    width: 70%;
}
.footer li {
    font-size: 16px;
  }
}
@media screen and (min-width:992px) and (max-width:1200px){
.socialinformation a {
    font-size: 15px;
}
img.college-logo-img {
    height: 6.5rem;
}
    .header-contant h1 {
    font-size: 32px;
  }
  .social-icon-header i {
    font-size: 15px;
  }
  img.college-logo-img {
    margin-top: 11px;
  }
.menu_buttons {
    display: flex;
    align-items: center;
}
.menu_buttons a button {
    padding: 5px 7px;
    margin: 0px 10px;
    letter-spacing:0px;
  }
  .icon_review_section {
    font-size: 30px;
    padding: 20px;
  }
  .review_heading h1 {
    color: #b80924;
    font-size: 35px;
  }
  .col_1 h2 {
    font-size: 22px;
  }
  .col_2 h2 {
    font-size: 22px;
  }
  .col_3 h2 {
    font-size: 22px;
  }
  .col_4 h2 {
    font-size: 22px;
  }
  .col_5 h2 {
    font-size: 22px;
  }
  .col_1 h3 {
    font-size: 16px;
  }
  .col_2 h3 {
    font-size: 16px;
  }
  .col_3 h3 {
    font-size: 16px;
  }
  .col_4 h3 {
    font-size: 16px;
  }
  .col_5 h3 {
    font-size: 16px;
  }
  .Topper_Heading {
    font-size: 32px;
  }
  .card .top-text .name {
    font-size: 20px;
  }
  .card .top-text p {
    font-size: 16px;
  }
  .card .bottom-text .text {
    text-align: left;
}
img.footer_logo {
    margin-top: 20px;
    width: 15rem;

}
.footer li {
    line-height: 2.2em;
}
.r-footer li h2 {
    font-size: 18px;
  }
  .add_line {
    line-height: 15px !important;
}
.footer li {
    font-size: 12px;
    }
}
@media screen and (min-width:750px) and (max-width:991px){
.socialinformation a {
    font-size: 14px;
}
img.college-logo-img {
    height: 6rem;
    margin: 10px 0px 10px 35px;
    }
    .header-contant h1 {
    font-size: 25px;
    margin:40px 20px;
}
.social-icon-header{
    right: 2rem;
    top: 6.7rem;
    font-size: 10px;
}
i.fa-brands.fa-facebook-f {
    padding: 8px 10px;
}
nav .navbar .nav-links {
    top: 155.5px;
    }
    .icon_review_section {
    font-size: 20px;
    padding: 20px;
  }
  .review_heading h1 {
    color: #b80924;
    font-size: 30px;
  }
  .col_1 h2 {
    font-size: 20px;
  }
  .col_2 h2 {
    font-size: 20px;
  }
  .col_3 h2 {
    font-size: 20px;
  }
  .col_4 h2 {
    font-size: 20px;
  }
  .col_5 h2 {
    font-size: 20px;
  }
  .col_1 h3 {
    font-size: 14px;
  }
  .col_2 h3 {
    font-size: 14px;
  }
  .col_3 h3 {
    font-size: 14px;
  }
  .col_4 h3 {
    font-size: 14px;
  }
  .col_5 h3 {
    font-size: 14px;
  }
  .Topper_Heading {
    font-size: 30px;
  }
  .top_student_section{
    margin-bottom: 0px;
  }
  .footer li {
    line-height:1.7em;
}
img.footer_logo {
    margin-top: 80px;
}
.r-footer li h2 {
    font-size: 18px;
}
}
@media screen and (max-width:749px){
.socialinformation {
    padding: 10px 20px;
  }
  .header-contant {
    display: block;
    text-align: center;
  }
img.college-logo-img {
    margin: 10px 0px 10px 0px;
    height: 80px;
}
.social-icon-header {
    right: 5rem;
    top: 8.5rem;
    position: unset;
    margin-top: -60px;
    text-align: center;
}
.header-contant h1 {
    font-size: 30px;
    margin: 0 auto;
    padding: 0px 0px 60px;
}
.menu_buttons {
    margin-right: -25px;
}
.gallery-section {
    padding: 10px 0;
}
.border {
    width: 200px;
    }
    .review_heading {
    text-align: center;
    margin-bottom: 20px;
}
.review_heading h1 {
    font-size: 30px;
    }
    .icon_div {
    display: block;
    justify-content: center;
    margin: 0px 20px;
    margin-bottom: 20px;
}
.icon_review_section {
    font-size: 25px;
    padding: 20px;
    }
.col_1 h2 {
    font-size:20px;
  }
.col_2 h2 {
    font-size:20px;
  }
.col_3 h2 {
    font-size:20px;
  }
.col_4 h2 {
    font-size:20px;
  }
.col_5 h2 {
    font-size:20px;
  }
.col_1 h3 {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 14px;
  }
.col_2 h3 {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 14px;
  }
.col_3 h3 {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 14px;
  }
.col_4 h3 {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 14px;
  }
.col_5 h3 {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 14px;
  }
  .Topper_Heading {
    font-size: 25px;
  }
  .card .top-text .name {
    font-size: 18px;
}
.card .top-text p {
    font-size: 15px;
    }
.toggle-btn {
    left: -40px;
    top: 0;
    width: 38px;
    height: 45px;
    line-height:45px;
    font-size: 14px;
}
.marquee {
    font-size: 14px;
}
nav .navbar .nav-links {
    top:18.9rem;
    }
    .side-menu a {
    padding: 5px 5px;
    font-size: 14px;
  }
  .side-menu a i {
    font-size: 15px;
  }
  .r-footer li h2 {
    font-size: 16px;
}
section.side_menu {
    display: none;
}
}
@media screen and (max-width:320px){
img.footer_logo {
  margin-top: 0px;
    width: 100%;
}
.socialinformation a {
    font-size: 13px;
}
img.college-logo-img {
    height: 80px;
}
.social-icon-header {
    right: 5rem;
    top: 8.5rem;
}
i.bx.bx-menu {
    margin-left: 0px;
}
.menu_buttons {
    margin-right: 5px;
}
.toggle-btn {
    left: -40px;
    top: 0;
    width: 38px;
    height: 45px;
    line-height:45px;
    font-size: 14px;
}
nav .navbar .nav-links {
    top: 21.5rem;
    }
section.side_menu {
    display: none;
}

}


/*Responsive Media Queries( Start-> )*/
