*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Jost', sans-serif ! important;
  box-sizing: border-box;

}

section{
  position: fixed;
  min-height: 100vh;
  background-image:url("../images/other_back.jpg");
  height:60rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 0px -140px;
}

.login-form{
  width: 360px;
  background: #f1f1f1;
  padding: 40px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top:35%;
  transform: translate(-50%,-50%);
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background:linear-gradient(120deg,#ff3900,#ffcc00);
  background-size: 200%;
  color: #fff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover{
  background-position: right;
}

.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}
.firgot_text{
  margin-top: 5px;
  text-align: right;
}
.firgot_text a:hover{
    text-decoration: underline;
}

/*Responsive Media Queries( Start-> )*/

@media screen and (min-width:1600px){

}
@media screen and (min-width:992px) and (max-width:1200px){
section {
    position: fixed;
    min-height: 125vh;
    background-image: url(../images/other_back.jpg);
    height: 100%;
  }
  .login-form {
    top: 40%;
  }
  .login-form {
    width: 330px;
    background: #f1f1f1;
    padding: 30px 30px;
  }
  .login-form h1 {
    text-align: center;
    margin-bottom: 0px;
}
.bottom-text {
    margin-top: 25px;
    }
}
@media screen and (min-width:750px) and (max-width:991px){
  .login-form h1 {
    text-align: center;
    margin-bottom: 0px;
}
.bottom-text {
    margin-top: 25px;
    }
    .login-form {
    top: 30%
  }
}
@media screen and (max-width:749px){
  .login-form h1 {
    text-align: center;
    margin-bottom: 0px;
}
.bottom-text {
    margin-top: 25px;
    }
       .login-form {
    width: 300px;
    top: 30%;
  }
  .logbtn {
    width: 100%;
    height: 35px;
  }
}
@media screen and (max-width:320px){
  .login-form h1 {
    text-align: center;
    margin-bottom: 0px;
}
.bottom-text {
    margin-top: 25px;
    }
    .login-form {
    width: 300px;
    top: 30%;
  }
}

/*Responsive Media Queries( Start-> )*/