body{
  margin: 0;
  padding: 0;
  background: url(termsandconditions.jpg);
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.terms-box{
  border: 1px solid #fff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 30px;
  max-width: 700px;
  color: #fff;
  font-family: "Montserrat";
  padding: 40px 30px;
  border:1px solid #fff;
}

.terms-text{
  border: 1px solid #fff;
  padding: 0 20px;
  height: 400px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 500;
  color: #f1f1f1;
  font-family: calibri;
}

.terms-text::-webkit-scrollbar{
  width: 4px;
  background-color: #282828;
}

.terms-text::-webkit-scrollbar-thumb{
  background-color:#ffcc00;
}

.terms-text h1{
  text-transform: uppercase;
  font-size: 35px;
  text-decoration: underline;
}

.terms-box h4{
  font-style: italic;
  font-size: 16px;
  text-align: center;
  padding: 0 40px;
}
.terms-box p{
  font-size: 20px;
}
.terms-text:hover{
  background-color: #000;
}

.terms-box h4 span{
  color: #ffcc00;
}

.buttons{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.btn{
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: .3s  linear;
  cursor: pointer;
}

.red-btn{
      background: linear-gradient(120deg,#ff3900,#ffcc00);
}

.gray-btn{
      background: linear-gradient(120deg,#ffcc00,#ff3900);
}

.btn:hover{
  opacity: .6;
}