*{
	margin: 0;
	padding: 0;
	}
/*Style{> Polsing}*/
.socialinformation{
					text-align: center;
					display: flex;
					padding: 10px 100px;
					justify-content: space-between;
					background-color: #ff3900;
					color: #000;
				}
img.college-logo-img {
						  animation: logoani 1s ease 0s 1 normal forwards;
    					height: 8rem;
    					margin-left: 47px;
    					margin-top: 5px;
    					margin-bottom: 5px;
					}
.socialinformation a i {
						margin: 0 10px;
						}
.socialinformation a{
					text-decoration: none;
					color: #fff;
					}
.header-contant{
				display: flex;
        background-image: url('Images/header_back.gif');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px;
			}
.header-contant h1 {
            color: #fff;
    				font-family: 'Jost', sans-serif;
    				font-size: 45px;
    				margin: 40px 25px;
}
.menu-bar{
			background-color: #ffcc00;  
			padding: 15px 0px;
			text-align: center;
		}	
.menu-bar a{
				padding: 0 20px;
				text-decoration: none;
				color: #000;
				font-family: 'Rubik', sans-serif;
			}

			.menu-bar a:hover{
				
			}
a.link_btn_one {
    background-image:linear-gradient(red,orange);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
a.link_btn_one:hover {
 	background-image:linear-gradient(orange,red);
}
a.link_btn_two {
    background-image:linear-gradient(red,orange);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
a.link_btn_two:hover {
 	background-image:linear-gradient(orange,red);
}
.social-icon-header i {
						margin: 13px 5px;
						border-radius: 50px;
						padding: 8px 8px;
						color: #fff;	  
}
.social-icon-header i:hover{
			 background-color: #6DDACF;
			 color: #000;
			}

i.fa-brands.fa-facebook-f {
    						padding: 8px 12px;
}
.social-icon-header {
					    position: absolute;
					    z-index: 999;
					    right: 2rem;
					    top: 7rem;
					    font-size: 19px;
}
.slick-prev {
    		left: 0px;
}
.slick-next {
    right: -20px;
}
.item img{
			width: 100%;
}
.onlinecards {
	    display: flex;
	    justify-content: space-between;
	    margin: 0 100px;
}
.card-one{
		text-align: center;
}
.card-two{
		text-align: center;
}
.card-three{
		text-align: center;
}
.gallary-one{
			display: flex;
			justify-content: space-around;
}
.gallary-two{
			margin-top: 50px;
			display: flex;
			justify-content: space-around;
}
.gallary-three{
				margin-bottom: 50px;
				margin-top: 50px;
				display: flex;
				justify-content: space-around;
}
.img-gallary {
    		margin: 0 20px;
}
.gallary-one img {
				    height: 211px;
				    //box-shadow: -3px 6px 20px 4px #000000;
				    object-fit: cover;
}
.gallary-two img{
				height: 211px;
			    //box-shadow: -3px 6px 20px 4px #000000;
			    object-fit: cover;
}
.gallary-three img{
					height: 211px;
				   // box-shadow: -3px 6px 20px 4px #000000;
				    object-fit: cover;
}

.gallary-one img:hover{
}
.gallary-two img:hover{
}
.gallary-three img:hover{
}
.img_name_text{
			margin: 0px 0px 20px 25px;
			font-family: calibri;
			font-size: 30px;
    		font-weight: bold;
    		text-decoration: underline;
}

.back_img_login{
		
	background-repeat: no-repeat;
	width:100%;
	height: 200px;
}
.icon_div{
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
    margin-bottom: 50px;
   }
   .icon_review_section{
        font-size: 40px;
        border: 1px solid #18F4E3;
        padding: 30px;
        border-radius: 50px;
        background: #18F4E3;
		//-webkit-animation: flip-scale-down-ver 0.5s linear both;
        //animation: flip-scale-down-ver 0.5s linear both;
   }

  .icon_review_section:hover{
          -webkit-animation: flip-scale-down-ver 0.5s linear both;
          animation: flip-scale-down-ver 0.5s linear both;
   }
   .review_heading {
    text-align: center;
    margin-bottom: 40px;
}
.review_heading h1 {
	color: #b80924;
    font-size: 40px;
    font-family: calibri;
    letter-spacing: 1px;
}
.col_1{
  text-align:center; 
  font-family: calibri;
}
.col_2{
  text-align: center;
   font-family: calibri;
}
.col_3{
  text-align: center;
   font-family: calibri;
}
.col_4{
  text-align: center;
   font-family: calibri;
}
.col_5{
  text-align: center;
   font-family: calibri;
}
.col_1 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_2 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_3 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_4 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}
.col_5 h2{
  font-size: 30px;
  padding: 5px 5px;
  color: #08645D;
}

.col_1 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_2 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_3 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_4 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
.col_5 h3{
  font-size: 20px;
  padding: 5px 5px;
  color: #08645D;
}
/*Footer (>)*/
*, *:before, *:after {
box-sizing: border-box;
}

.footer_section {
font-family: poppins;
margin-top: 5rem;
display: grid;
font-size: 14px;
}
.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-image:url(Images/Footer_back_img.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}
img.footer_logo {
    margin-top: 20px;
}
.r-footer li h2 {
font-weight: bold;
font-size: 20px;
color: #000;
font-family:calibri;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 3em;
font-family:calibri;
}
.footer li a:hover{
text-decoration: underline;
}


.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: #000;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: #000;
padding-top: 50px;
}

.l-footer p {
padding-right: 20%;
color: #000;
}   
li.adress_footer {
    line-height: 18px;
}
.footer_icon{
	margin-right: 8px;
}
@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}
.top_student_section{
  font-family:calibri;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  display: grid;
  text-align: center;
  background: #f2f2f2;
  text-align: center;
}
.Topper_Heading{
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 30px;
    color: #DF1A26;
}
.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}

.container_dirctor {
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    text-align: center;
}
.item_img{
  width: 100%;
}
.container_dirctor h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position:relative;
    margin-bottom: 60px;
}
.dior_item h4{
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
}
.dior_item p{
font-family: 'Rubik', sans-serif;
}
.container_dirctor h1:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #FF8159;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.logo-slider .dior_item{
    background-color: #fff;
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid #111;
}
.logo-slider .slick-slide{
    margin:15px;
    
}
.slick-dots li.slick-active button:before{
    color:#ff5722;
}
.sliick-dots li button:before{
    font-size: 12px;
}
.slick-next:before,
.slick-prev:before{
    color: #ff8159;
    font-size: 24px;
}
.dior_item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}
.slick-prev {
    left: -30px;
}


#scroll_btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffcc00;
  clip-path: polygon(100% 75%, 50% 60%, 1% 75%, 0 35%, 48% 0, 100% 35%);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#scroll_btn:hover {
  background-color: #555;
}
html {
  scroll-behavior: smooth;
}
button#scroll_btn img {
    height: 20px;
}



/*Footer (>)*/

/*Logo keyframes >*/
@keyframes logoani {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
/*Logo keyframes <*/

/*Statistics keyframes >*/
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
            transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
            transform: scale(1) rotateY(-180deg);
  }
}
/*Statistics keyframes <*/